@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import 'color.css';

body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: 'Dela Gothic One', serif;
}

#loads {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Поднимаем над остальным контентом */
}

.spinner {
    background: black;
    width: 260px;
    height: 40px;
    line-height: 40px;
    border-radius: 8px;
    font-family: arial;
    font-size: 15px;
    color: #111;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto
}

.main {
    display: flex;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    animation: backgroundAnimation 2.5s infinite alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-image: url('image/back1.png');
    }
    50% {
        background-image: url('image/back2.png');
    }
    100% {
        background-image: url('image/back1.png');
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin: 5.5vh 27vh;
    width: 30%;
}

#head1 {
    background-color: white;
    text-align: center;
    padding: 0vw 2vw;
    flex-grow: 1;
    font-size: 3.3em;
}

#head2 {
    background-color: white;
    text-align: start;
    padding: 0vw 2vw;
    flex-grow: 1;
    font-size: 2.3em;
}

.button-div {
    display: flex;
    position: relative;
    right: 6%;
    width: 45%;
}

.button {
    background-image: url('image/button.png');
    background-size: contain;
    background-repeat: no-repeat; 
    background-position: center;
    width: 100%; 
    height: auto;
    max-width: 100%;
    background-color: transparent;
    border: none;
}

.button:active {
    background-image: url('image/button_click.png'); 
}

#choice_dlg {
    border: none;
    width: 80%;
    padding: 0px;
}

#blacks {
    background-color: black;
    width: 100%;
    height: 1.5vw;
}

.valentinka {
    border-radius: 12px;
    border: 4px solid black;
    width: 80%;
    justify-content: center;
}

.btn-choice {
    border: none;
    background-color: transparent;
    width: 15%;
}

.btn-save {
    border: none;
    background-color: transparent;
    width: 90%;
    padding: 2%;
    font-size: 2em;
}

#pattern1 {
    background-image: url('image/heart_ico.png');
    object-fit: cover;
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat; 
    max-width: 100%;
    padding: 10px;
}

#pattern2 {
    background-image: url('image/block_ico.png');
    object-fit: cover;
    background-size: 25%;
    background-position: center;
    background-repeat: no-repeat; 
    max-width: 100%;
    padding: 10px;
}

#pattern3 {
    background-image: url('image/star_ico.png');
    object-fit: cover;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat; 
    max-width: 100%;
    padding: 10px;
}

.p_choice {
    font-size: 2em;
    outline: none;
}

#main_button {
    display: flex;
    justify-content: center;
    border-radius: 12px;
    border: 4px solid black;
    width: 80%;
    gap: 8%;
}

.circle_btn1 {
    justify-content: center;
    background-color: var(--color1);
    clip-path: circle(50%);
    width: 60px;
    height: 60px;
    margin: auto;
}

.circle_btn2 {
    background-color: var(--color2);
    clip-path: circle(50%);
    width: 60px;
    height: 60px;
    margin: auto;
}

.circle_btn3 {
    background-color: var(--color3);
    clip-path: circle(50%);
    width: 60px;
    height: 60px;
    margin: auto;
}

.move1, .move2 {
    background-color: transparent;
    border: none;
}

.move1::after {
    content: var(--buttonRight);
    font-size: 2em;
}

.move2::after {
    content: var(--buttonLeft);
    font-size: 2em;
}

@media (min-width: 1921px) {
    .content {
        margin: 12vh 20vh;
        width: 30%;
    }

    #head1 {
        padding: 2vw 0vw;
        font-size: 4em;
    }
    
    #head2 {
        padding: 2vw 2vw;
        font-size: 2.7em;
    }
}

@media (min-width: 1024px) and (max-width: 1441px){
    .content {
        margin: 22vh 17vh;
        width: 30%;
    }

    #head1 {
        padding: 2vw 1vw;
        font-size: 3.5vw;
    }
    
    #head2 {
        padding: 2vw 3vw;
        font-size: 1.5em;
    }
}

@media (min-width: 769px) and (max-width: 1023px){
    .content {
        margin: 22vh 10vh;
        width: 30%;
    }

    #head1 {
        padding: 2vw 2vw;
        font-size: 3.5vw;
    }
    
    #head2 {
        padding: 2vw 3vw;
        font-size: 1.5em;
    }

    .button-div {
        display: flex;
        position: relative;
        right: 6%;
        width: 60vw;
    } 
}

@media (min-width: 533px) and (max-width: 768px) {
    .content {
        margin: 22vh 5vh;
        width: 50%;
    }

    #head1 {
        padding: 2vw 2vw;
        font-size: 3.5vw;
    }
    
    #head2 {
        padding: 2vw 3vw;
        font-size: 1.5em;
    }

    .button-div {
        display: flex;
        position: relative;
        right: 3%;
        width: 60vw;
    }

    .circle_btn1 {
        justify-content: center;
        background-color: var(--color1);
        clip-path: circle(50%);
        width: 40px;
        height: 40px;
        margin: auto;
    }
    
    .circle_btn2 {
        background-color: var(--color2);
        clip-path: circle(50%);
        width: 40px;
        height: 40px;
        margin: auto;
    }
    
    .circle_btn3 {
        background-color: var(--color3);
        clip-path: circle(50%);
        width: 40px;
        height: 40px;
        margin: auto;
    }
}

@media (min-width: 425px) and (max-width: 532px) {
    .main {
        flex-direction: column;
    }

    .content {
        margin: 2vh 5vh;
        width: 80%;
    }

    #head1 {
        padding: 2vw 2vw;
        font-size: 5vw;
    }
    
    #head2 {
        padding: 2vw 3vw;
        font-size: 1.5em;
    }

    .button-div {
        display: flex;
        height: 100vw;
        width: 80vw;
        left: 10%;
    }

    .circle_btn1 {
        justify-content: center;
        background-color: var(--color1);
        clip-path: circle(50%);
        width: 25px;
        height: 25px;
        margin: auto;
    }
    
    .circle_btn2 {
        background-color: var(--color2);
        clip-path: circle(50%);
        width: 25px;
        height: 25px;
        margin: auto;
    }
    
    .circle_btn3 {
        background-color: var(--color3);
        clip-path: circle(50%);
        width: 25px;
        height: 25px;
        margin: auto;
    }

    .p_choice {
        font-size: 1em;
    }
}

@media (min-width: 0px) and (max-width: 425px) {
    .main {
        flex-direction: column;
    }

    .content {
        margin: 2vh 12vw;
        width: 80%;
    }

    #head1 {
        padding: 2vw 2vw;
        font-size: 5vw;
    }
    
    #head2 {
        padding: 2vw 3vw;
        font-size: 1.2em;
    }

    .button-div {
        display: flex;
        height: 25vh;
        width: 90vw;
        left: 6.5%;
    }

    .circle_btn1 {
        justify-content: center;
        background-color: var(--color1);
        clip-path: circle(50%);
        width: 15px;
        height: 15px;
        margin: auto;
    }
    
    .circle_btn2 {
        background-color: var(--color2);
        clip-path: circle(50%);
        width: 15px;
        height: 15px;
        margin: auto;
    }
    
    .circle_btn3 {
        background-color: var(--color3);
        clip-path: circle(50%);
        width: 15px;
        height: 15px;
        margin: auto;
    }

    .p_choice {
        font-size: 1em;
    }

    .btn-save {
        border: none;
        background-color: transparent;
        width: 90%;
        padding: 2%;
        font-size: 1.5em;
    }
}